/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
public/images/.htaccess
public/images/DMCA.jpg
public/images/HOTLINE-02.png
public/images/NoPath-Copy.png
public/images/NoPath.jpg
public/images/NoPath.png
public/images/ZALO-02.png
public/images/__favicon.ico
public/images/arrow-up1.png
public/images/banner_s.jpg
public/images/banners/
public/images/buy.svg
public/images/cart.svg
public/images/close-modal.png
public/images/config/
public/images/contents/
public/images/course/
public/images/document/
public/images/documents/
public/images/favicon.ico
public/images/head_s.jpg
public/images/icon/
public/images/loading.gif
public/images/logo-mk.png
public/images/logo1lduoc.jpg
public/images/logo_s.jpg
public/images/menus/
public/images/news/
public/images/no-images.png
public/images/not_picture.png
public/images/partner/
public/images/products/
public/images/slideshow/
public/images/students/
public/images/upload_file/
public/upload_images/