/* purgecss start ignore */
.news_detail {
    .title-module {
        padding: 10px;
        background: #6b7b84;
        margin-bottom: 20px;
        color: #fff;
        font-size: 14px;
        text-transform: uppercase;

        i {
            margin-right: 10px;
        }
    }

    .news-title {
        font-size: 20px;
        color: #0072bb;
        font-weight: normal;
        font-weight: 500;
        line-height: 24px;
        margin-bottom: 10px;
    }

    time {
        font-size: 13px;
        margin-bottom: 15px;
        color: #999999;
        font-weight: 400;
        display: block;
        border-bottom: 1px dotted #ccc;
    }
    .toc-content {
        .title-toc-list{
            display: flex;
            align-items: center;
            .title-toc{
                font-size: 16px;
                font-weight: bold;
                padding: 13px 0;
                margin-bottom: 0;
            }
            .button-select{
                font-size: 16px;
                font-weight: bold;
                cursor: pointer;
                text-transform: uppercase;
                i{
                    margin-left: 14px;
                }
                .fa-minus{
                    display: none;
                }
            }
        }
        .list-toc {
            border: 1px solid #ccc;
            padding: 10px 5px;
            margin-bottom: 20px;
            ol {
                margin-bottom: 0;
                counter-reset: my-awesome-counter;
                list-style: none;
                padding: 5px 10px;

                li {
                    counter-increment: my-awesome-counter;
                    list-style-position: inside;
                    margin-right: 0;
                    padding-bottom: 5px;

                    &:before {
                        //content: counters(my-awesome-counter, ".") ". ";

                        /*color: #df0024;*/
                    }
                }
            }
        }
        .list-toc > ol > li {
            &:before {
                font-weight: bold;

                /*color: #df0024;*/
            }

            > a {
                /*font-weight: bold;*/
                /*color: #427fed;*/
            }
        }

        ol li a {
            margin-bottom: 7px;

            /*color: #427fed;*/
        }
    }
    .description {
        margin-bottom: 30px;
        overflow: hidden;
        a{
            color: #00aae3;
            text-decoration: revert;
        }
        img {
            max-width: 100% !important;
            height: auto !important;
        }
    }

    .item {
        float: left;
        width: 100%;
        position: relative;

        img {
            -moz-transition: all 0.3s;
            -webkit-transition: all 0.3s;
            transition: all 0.3s;
        }

        &:hover {
            img {
                -moz-transform: scale(1.1);
                -webkit-transform: scale(1.1);
                transform: scale(1.1);
            }
        }
    }

    .title-module-related {
        background: #fff;
        margin-bottom: 15px;
        padding: 3px 0px;

        span {
            background: #fff;
            font-size: 16px;
            color: #ac0000;
            text-transform: uppercase;
            padding-right: 10px;
        }
    }
    .resized {
        margin-bottom: 10px;
        color: #fff;

        .content-item {}

        .title {
            font-size: 13px;
            color: #0072bb;
            font-weight: normal;

            i {
                margin-right: 6px;
                color: #000;
            }

            &:hover {
                color: #ac0000;

                i {
                    color: #ac0000;
                }
            }

            span {
                color: #999999;
            }
        }
    }
    .new-related{
        .image-info-plus {
            margin-bottom: 40px;
            a{
                display: block;
                padding-bottom: 15px;
                border-bottom: 3px solid #eeeeee;
                &:hover{
                    border-bottom: 3px solid #c51124;
                }
                .detail-new{
                    padding: 0 10px;
                }
            }
            .cat_icon {
                position: relative;

                img {
                    position: absolute;
                    left: 0;
                    right: 0;
                    margin-left: auto;
                    margin-right: auto;
                    top: -83px;
                }
            }

            .title-product {
                text-transform: uppercase;
                font-weight: bold;
                margin: 10px 0;
                max-height: 40px;
                overflow: hidden;
                height: 40px;
            }

            summary {
                height: 41px;
                overflow: hidden;
                color: #666666;

            }
            summary,.title-product{
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
            }
        }
    }
}

.share_bottom {
    .color-print {
        color: #fff;
        float: left;
        display: inline-block;
        font-size: 10px;
        padding: 2px 10px;
        margin-right: 3px;
        i {
            margin-right: 3px;
        }

        &:hover {
            transition: all .2s ease-in-out;
            transform: translateY(-4px);
        }
    }
    .addthis_inline_share_toolbox_ouhp{
        clear: none !important;
        float: right;
    }
}

.menu_right {
    background: #fff;
    margin-bottom: 20px;
    color: #333;

    .title-menu-pro {
        background: #ce0021;
        font-size: 13px;
        color: #fff;
        text-transform: uppercase;
        padding: 10px 15px;

        i {
            margin-right: 10px;
        }
    }
}

#cssmenu_content {
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        position: relative;
        li {
            list-style: none;
            margin: 0;
            padding: 0;
            float: left;
            min-height: 1px;
            line-height: 1em;
            vertical-align: middle;
            position: relative;
            float: none;
            &:hover {
                position: relative;
                z-index: 599;
                cursor: default;
                >ul {
                    visibility: visible;
                }
            }
        }
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            visibility: hidden;
            position: absolute;
            top: 100%;
            left: 0px;
            z-index: 598;
            width: 100%;
            top: 0px;
            left: 100%;
            margin-top: 0px;
            -webkit-border-radius: 0 3px 3px 0;
            -moz-border-radius: 0 3px 3px 0;
            border-radius: 0 3px 3px 0;
            background: #fff;
            box-shadow: 0 0 3px 1px #eee;
            li {
                float: none;
                font-weight: normal;
                border-bottom: 1px solid #ccc;
            }
            ul {
                top: 0px;
                right: 0;
            }
        }
        li.hover {
            position: relative;
            z-index: 599;
            cursor: default;
        }
    }
    zoom: 1;
    &:before {
        content: '';
        display: block;
    }
    &:after {
        content: '';
        display: table;
        clear: both;
    }
    a {
        display: block;
        padding: 10px 5px;
    }
    >ul {
        >li {
            >a {
                >i {
                    float: right;
                }
            }
        }
        >li.active {
            a {
                background: #1b9bff;
            }
        }
    }
    li {
        position: relative;
    }
}
#cssmenu_content.align-right {
    >ul {
        >li {
            >a {
                border-left: 4px solid #1b9bff;
                border-right: none;
            }
        }
    }
    float: right;
    li {
        text-align: right;
    }
    ul {
        li.has-sub {
            >a {
                &:before {
                    content: '+';
                    position: absolute;
                    top: 50%;
                    left: 15px;
                    margin-top: -6px;
                }
                &:after {
                    content: none;
                }
            }
        }
        ul {
            visibility: hidden;
            position: absolute;
            top: 0;
            left: -100%;
            z-index: 598;
            width: 100%;
            -webkit-border-radius: 3px 0 0 3px;
            -moz-border-radius: 3px 0 0 3px;
            border-radius: 3px 0 0 3px;
            li.first {
                -webkit-border-radius: 3px 0 0 0;
                -moz-border-radius: 3px 0 0 0;
                border-radius: 3px 0 0 0;
            }
            li.last {
                -webkit-border-radius: 0 0 0 3px;
                -moz-border-radius: 0 0 0 3px;
                border-radius: 0 0 0 3px;
            }
        }
    }
}
@media (max-width: 768px) {
    #cssmenu_content {
        ul {
            ul {
                display: none;
            }
        }
    }
}
/* purgecss end ignore */
