.layout-cart .wrapper-tb-pop {
  padding: 25px 10px;
  border-radius: 5px;
}
.layout-cart .wrapper-tb-pop .title-cart {
  font-size: 18px;
  color: #333333;
  font-weight: bold;
  margin-bottom: 15px;
  padding: 0 20px;
}
.layout-cart .wrapper-tb-pop table thead {
  background: #F3F3F3;
}
.layout-cart .wrapper-tb-pop table thead tr th {
  font-weight: bold;
  padding: 10px 0;
  font-size: 16px;
  color: #333333;
  border-bottom: none;
}
.layout-cart .wrapper-tb-pop table thead tr th:first-child {
  padding-left: 20px;
}
.layout-cart .wrapper-tb-pop table tbody tr {
  border-bottom: 1px solid #F3F3F3;
}
.layout-cart .wrapper-tb-pop table tbody tr td {
  padding: 17px;
  position: relative;
}
.layout-cart .wrapper-tb-pop table tbody tr td .media-heading a {
  font-size: 16px;
  line-height: 24px;
  color: #333333;
  text-decoration: none;
}
.layout-cart .wrapper-tb-pop table tbody tr td .extend_product p {
  margin-bottom: 0;
}
.layout-cart .wrapper-tb-pop table tbody tr td .del-pro-link {
  font-size: 14px;
  color: #FF1200;
  text-decoration: none;
  bottom: 20px;
  right: 15px;
}
.layout-cart .wrapper-tb-pop table tbody tr td .del-pro-link i {
  margin-right: 5px;
}
.layout-cart .wrapper-tb-pop table tbody tr td .del-pro-link span {
  color: #007ff0;
  font-size: 12px;
}
.layout-cart .wrapper-tb-pop table tbody tr td .select-box .number-input {
  border: 1px solid #d5d5d5;
  border-radius: 5px;
  display: inline-flex;
  box-sizing: border-box;
}
.layout-cart .wrapper-tb-pop table tbody tr td .select-box .number-input * {
  box-sizing: border-box;
}
.layout-cart .wrapper-tb-pop table tbody tr td .select-box .number-input .quantity {
  border: none;
  padding: 5px 0;
  border-left: 1px solid #d5d5d5;
  border-right: 1px solid #d5d5d5;
  width: 50px;
  text-align: center;
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  background: #F3F3F3;
}
.layout-cart .wrapper-tb-pop table tbody tr td .select-box .number-input .quantity::-webkit-inner-spin-button, .layout-cart .wrapper-tb-pop table tbody tr td .select-box .number-input .quantity::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
.layout-cart .wrapper-tb-pop table tbody tr td .select-box .number-input button {
  outline: none;
  background-color: transparent;
  border: none;
  align-items: center;
  justify-content: center;
  width: 2rem;
  cursor: pointer;
  margin: 0;
  position: relative;
}
.layout-cart .wrapper-tb-pop table tbody tr td .select-box .number-input button:before, .layout-cart .wrapper-tb-pop table tbody tr td .select-box .number-input button:after {
  display: inline-block;
  position: absolute;
  content: "";
  width: 1rem;
  height: 2px;
  background-color: #212121;
  transform: translate(-50%, -50%);
}
.layout-cart .wrapper-tb-pop table tbody tr td .select-box .number-input button.plus:after {
  transform: translate(-50%, -50%) rotate(90deg);
}
@media (max-width: 767px) {
  .layout-cart .wrapper-tb-pop table tbody tr td .select-box .number-input {
    flex-wrap: wrap;
  }
  .layout-cart .wrapper-tb-pop table tbody tr td .select-box .number-input .quantity {
    width: 100%;
  }
  .layout-cart .wrapper-tb-pop table tbody tr td .select-box .number-input button {
    width: 100%;
    height: 30px;
  }
}
.layout-cart .wrapper-tb-pop table tbody tr td .total {
  color: #333333;
  font-size: 1rem;
  font-weight: bold;
}
.layout-cart .wrapper-tb-pop table tbody tr .td-price p {
  margin: 0;
}
.layout-cart .wrapper-tb-pop table tbody tr .td-price p .price {
  color: #FF1200;
  font-size: 1rem;
  font-weight: bold;
}
.layout-cart .wrapper-tb-pop table tbody tr .td-price p .old_price {
  text-decoration: line-through;
  font-size: 14px;
  color: #777777;
}
.layout-cart .wrapper-tb-pop .update-cart, .layout-cart .wrapper-tb-pop .continue-buy {
  color: #422112;
  font-size: 14px;
}
.layout-cart .wrapper-tb-pop .update-cart i, .layout-cart .wrapper-tb-pop .continue-buy i {
  margin-right: 5px;
}
.layout-cart .form-address {
  padding: 23px 30px;
  margin-bottom: 50px;
  border-radius: 5px;
}
.layout-cart .form-address .title-address {
  font-size: 20px;
  font-weight: bold;
  color: #422112;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.layout-cart .form-address .btn-address {
  background: #FF1200;
  line-height: 45px;
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  font-weight: bold;
  display: block;
  text-transform: uppercase;
  width: 100%;
  height: auto;
}
.layout-cart .statistical {
  background: #fff;
  padding: 30px;
  border-radius: 5px;
}
.layout-cart .statistical .detail-price ul {
  padding: 0;
  margin: 0;
}
.layout-cart .statistical .detail-price ul li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.layout-cart .statistical .detail-price ul li .price-total {
  font-size: 16px;
}
.layout-cart .statistical .detail-price ul li .total-price {
  font-size: 16px;
  font-weight: bold;
  color: #FF1200;
}
.layout-cart .statistical .button-pay {
  background: #FF1200;
  border-radius: 3px;
  line-height: 45px;
}
.layout-cart .statistical .button-pay a {
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  font-weight: bold;
  display: block;
  text-transform: uppercase;
}

.method_payment label {
  font-weight: bold;
}
