.background-detail-product {
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  position: relative;
}
.background-detail-product .all_info_product {
  border-right: 1px solid #eeeeee;
}
@media (max-width: 767px) {
  .background-detail-product .all_info_product {
    border-right: none;
  }
}
.background-detail-product .all_info_product .image-table {
  padding: 1rem;
}
.background-detail-product .all_info_product .image-table .img_styling .thumb-pro ul li {
  float: left;
  width: 20%;
  margin-right: 13px;
  list-style: none;
}
.background-detail-product .all_info_product .image-table .img_styling .main-img {
  margin-bottom: 10px;
}
.background-detail-product .price_product_pc .fix_scroll {
  padding: 1rem;
  padding-bottom: 0;
}
.background-detail-product .price_product_pc .fix_scroll .border-detail_top .title-book {
  color: #333333;
  font-size: 24px;
  font-weight: normal;
  margin-bottom: 10px;
  line-height: 30px;
}
.background-detail-product .price_product_pc .fix_scroll .border-detail_top .price_product {
  color: #FF1200;
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0;
}
.background-detail-product .price_product_pc .fix_scroll .border-detail_top .price_product b {
  color: #333;
}
.background-detail-product .price_product_pc .quality-product {
  margin-top: 15px;
  margin-bottom: 10px;
}
.background-detail-product .price_product_pc .quality-product .title-size {
  font-size: 15px;
}
.background-detail-product .price_product_pc .quality-product .wrapper-quantity .number-input {
  border: 1px solid #d5d5d5;
  border-radius: 5px;
  display: inline-flex;
  box-sizing: border-box;
}
.background-detail-product .price_product_pc .quality-product .wrapper-quantity .number-input * {
  box-sizing: border-box;
}
.background-detail-product .price_product_pc .quality-product .wrapper-quantity .number-input .quantity {
  border: none;
  padding: 5px 0;
  border-left: 1px solid #d5d5d5;
  border-right: 1px solid #d5d5d5;
  width: 50px;
  text-align: center;
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  background: #F3F3F3;
}
.background-detail-product .price_product_pc .quality-product .wrapper-quantity .number-input .quantity::-webkit-inner-spin-button, .background-detail-product .price_product_pc .quality-product .wrapper-quantity .number-input .quantity::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
.background-detail-product .price_product_pc .quality-product .wrapper-quantity .number-input button {
  outline: none;
  -webkit-appearance: none;
  background-color: transparent;
  border: none;
  align-items: center;
  justify-content: center;
  width: 2rem;
  cursor: pointer;
  margin: 0;
  position: relative;
}
.background-detail-product .price_product_pc .quality-product .wrapper-quantity .number-input button:before, .background-detail-product .price_product_pc .quality-product .wrapper-quantity .number-input button:after {
  display: inline-block;
  position: absolute;
  content: "";
  width: 1rem;
  height: 2px;
  background-color: #212121;
  transform: translate(-50%, -50%);
}
.background-detail-product .price_product_pc .quality-product .wrapper-quantity .number-input button.plus:after {
  transform: translate(-50%, -50%) rotate(90deg);
}
.background-detail-product .price_product_pc .quality-product .info-product .status-product {
  background: #FFD600;
  font-size: 14px;
  border-radius: 3px;
  padding: 6px 10px;
}
.background-detail-product .price_product_pc .quality-product .info-product .is_none {
  background: #FF1200;
  color: #fff;
}
.background-detail-product .price_product_pc .add-cart-now .btn-instalment {
  border: 1px solid #FFCD00;
  border-radius: 5px;
  background: #FFFAE4;
  color: #422112;
  font-size: 15px;
}
.background-detail-product .price_product_pc .add-cart-now .btn-instalment:hover {
  background: #FFCD00;
}
.background-detail-product .content-product .title-content {
  font-size: 18px;
  margin-top: 30px;
  text-transform: uppercase;
  border-bottom: 2px solid #eeeeee;
  color: #000;
}
.background-detail-product .content-product .title-content span {
  color: #ce0021;
  padding: 5px 20px;
  display: inline-block;
  border-bottom: 2px solid #ce0021;
}
.background-detail-product .content-product .content-book {
  padding: 20px;
}
.background-detail-product .content-product .content-book p {
  margin-bottom: 12px;
  margin-top: 5px;
  color: #242424;
}
.background-detail-product .content-product .content-book img {
  max-width: 100%;
  height: auto !important;
}

.list_products {
  background: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;
  border-radius: 5px;
}
.list_products .head-block-product {
  border-bottom: 1px solid #e5e5e5;
  padding: 15px 0;
}
.list_products .head-block-product h3 a {
  font-weight: normal;
}
.list_products .head-block-product h3 a span {
  float: right;
  font-size: 13px;
  padding: 0 15px;
  color: #0081ea;
  text-transform: initial;
}
.list_products .head-block-product h3 a span i {
  margin-left: 2px;
}
.list_products .head-block-product h3 a .not-bgr {
  padding: 0 15px;
  color: #ce0021;
  font-size: 18px;
  float: none;
  text-transform: uppercase;
  font-weight: normal;
}
.list_products .head-block-product h3 a .title-cat-block {
  background: #ce0021;
  border-radius: 5px 5px 0 0;
  float: none;
  color: #fff;
  text-transform: capitalize;
  font-size: 18px;
  padding: 14px 30px;
}
.list_products .slick-prev, .list_products .slick-next {
  width: 28px;
  height: 54px;
}
.list_products .slick-prev:before, .list_products .slick-next:before {
  content: "";
}
.list_products .slick-prev, .list_products .slick-prev:hover {
  background: url(/images/detail_product_06.png?c53cc6a7b6d74e98e376b3e0b03fe51e) no-repeat center;
  left: 0;
  z-index: 1;
}
.list_products .slick-next, .list_products .slick-next:hover {
  background: url(/images/detail_product_09.png?a90c2447f4344ef130508c2b60d06eac) no-repeat center;
  right: 0;
  z-index: 1;
}
.list_products .image-check {
  padding: 15px 20px;
}
.list_products .image-check .imghvr-flip-vert {
  display: block;
  margin: 0 auto;
  background: none;
}
.list_products .image-check .imghvr-flip-vert figcaption {
  padding: 0;
  background: none;
}
.list_products .image-check [class^=imghvr-], .list_products .image-check [class*=" imghvr-"] {
  border-radius: 5px;
  overflow: unset;
}
.list_products .image-check img {
  display: block;
  margin: 0 auto;
  margin-bottom: 15px;
}
.list_products .image-check a {
  display: block;
}
.list_products .image-check a .title-book {
  margin-bottom: 5px;
  height: 40px;
  text-align: center;
  overflow: hidden;
}
.list_products .image-check a .price-book {
  height: 26px;
}
.list_products .image-check a .price-book .final-price {
  color: #ce0021;
  margin-right: 8px;
  font-weight: bold;
}
.list_products .image-check a .price-book .price-regular {
  color: #999;
  text-decoration: line-through;
}
.list_products .image-check a .price-book .sale-tag-square {
  float: right;
  background: #ce0021;
  border-radius: 15px;
  color: #fff;
  padding: 3px 12px;
}
.list_products .image-check:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.form-bao-gia {
  padding: 30px;
  background: rgba(0, 0, 0, 0.3411764706);
}
.form-bao-gia .logo-cati-pupop {
  width: 90px !important;
  height: auto;
  display: block;
  margin: 0 auto 15px;
}
.form-bao-gia .text-center {
  margin-bottom: 20px;
  text-align: center;
  font-size: 30px;
  line-height: 34px;
  color: #fff;
}
.form-bao-gia .buttom-contact {
  width: 100%;
  display: block;
  margin: 0;
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.form-bao-gia input {
  margin-bottom: 10px;
  height: 40px;
}

.modal-for-product #cartModal .modal-content {
  border-radius: 20px;
}
.modal-for-product #cartModal .modal-content .form-check-input:checked {
  background-color: #422112;
  border-color: #422112;
}
.modal-for-product #cartModal .modal-content label {
  font-size: 1.2rem;
}
.modal-for-product #cartModal .modal-content p {
  font-size: 1rem;
}
.modal-for-product #cartModal .modal-content a {
  color: #422112;
  padding: 8px;
  border-radius: 5px;
  text-transform: uppercase;
}
.modal-for-product .right:not(.show) .modal-dialog {
  transform: translate3d(25%, 0, 0);
}
@media (min-width: 992px) {
  .modal-for-product .modal-side {
    position: absolute;
    width: 100%;
    right: 10px;
    bottom: 10px;
    margin: 0;
  }
}
@media (min-width: 768px) {
  .modal-for-product .modal-top-right {
    top: 40px;
    right: 10px;
  }
}

.menu_right {
  background: #fff;
  margin-bottom: 20px;
  color: #333;
}
.menu_right .title-menu-pro {
  background: #ce0021;
  font-size: 13px;
  color: #fff;
  text-transform: uppercase;
  padding: 10px 15px;
}
.menu_right .title-menu-pro i {
  margin-right: 10px;
}

#cssmenu_content {
  zoom: 1;
}
#cssmenu_content ul {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
}
#cssmenu_content ul li {
  list-style: none;
  margin: 0;
  padding: 0;
  float: left;
  min-height: 1px;
  line-height: 1em;
  vertical-align: middle;
  position: relative;
  float: none;
}
#cssmenu_content ul li:hover {
  position: relative;
  z-index: 599;
  cursor: default;
}
#cssmenu_content ul li:hover > ul {
  visibility: visible;
}
#cssmenu_content ul ul {
  list-style: none;
  margin: 0;
  padding: 0;
  visibility: hidden;
  position: absolute;
  top: 100%;
  left: 0px;
  z-index: 598;
  width: 100%;
  top: 0px;
  left: 100%;
  margin-top: 0px;
  border-radius: 0 3px 3px 0;
  background: #fff;
  box-shadow: 0 0 3px 1px #eee;
}
#cssmenu_content ul ul li {
  float: none;
  font-weight: normal;
  border-bottom: 1px solid #ccc;
}
#cssmenu_content ul ul ul {
  top: 0px;
  right: 0;
}
#cssmenu_content ul li.hover {
  position: relative;
  z-index: 599;
  cursor: default;
}
#cssmenu_content:before {
  content: "";
  display: block;
}
#cssmenu_content:after {
  content: "";
  display: table;
  clear: both;
}
#cssmenu_content a {
  display: block;
  padding: 10px 5px;
}
#cssmenu_content > ul > li > a > i {
  float: right;
}
#cssmenu_content > ul > li.active a {
  background: #1b9bff;
}
#cssmenu_content li {
  position: relative;
}

#cssmenu_content.align-right {
  float: right;
}
#cssmenu_content.align-right > ul > li > a {
  border-left: 4px solid #1b9bff;
  border-right: none;
}
#cssmenu_content.align-right li {
  text-align: right;
}
#cssmenu_content.align-right ul li.has-sub > a:before {
  content: "+";
  position: absolute;
  top: 50%;
  left: 15px;
  margin-top: -6px;
}
#cssmenu_content.align-right ul li.has-sub > a:after {
  content: none;
}
#cssmenu_content.align-right ul ul {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: -100%;
  z-index: 598;
  width: 100%;
  border-radius: 3px 0 0 3px;
}
#cssmenu_content.align-right ul ul li.first {
  border-radius: 3px 0 0 0;
}
#cssmenu_content.align-right ul ul li.last {
  border-radius: 0 0 0 3px;
}

@media (max-width: 768px) {
  #cssmenu_content ul ul {
    display: none;
  }
}
