body {
  font-family: "Roboto", sans-serif;
  line-height: 22px;
  color: #333333;
  position: relative;
  font-size: 13px;
  background: #fff;
  /*---END----pagination ------*/
  /*---END----pagination ------*/
}
@media (min-width: 1200px) {
  body .container {
    max-width: 1220px;
  }
}
body a {
  color: #222;
  text-decoration: none;
}
body a:hover {
  color: #0072bb;
  text-decoration: none;
}
body #page {
  transition: margin-right 0.5s;
}
body #navigation-menu {
  display: none;
}
body .header_menu a {
  display: block;
  width: 48px;
  height: 46px;
  position: absolute;
  left: 10px;
  border-radius: 5px;
  top: 4px;
  color: #fff;
}
body .header_menu a i {
  font-size: 30px;
  line-height: 54px;
}
body .header_menu {
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  line-height: 40px;
  box-sizing: border-box;
  width: 42px;
  height: 40px;
}
body .scrollToTop {
  display: none;
  position: fixed;
  bottom: -60px;
  right: 20px;
  width: 54px;
  height: 54px;
  background: url(/images/to-top.png?b293026a9fbd7cd876450a17bb3be68f) no-repeat center;
  cursor: pointer;
  z-index: 99999;
  transition: all 0.8s ease;
}
body .scrollToTop.active {
  bottom: 60px;
}
body .pagination {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  justify-content: center;
}
body .pagination .current span {
  background-color: #0072bb;
  color: #FFFFFF;
  margin-right: 5px;
  padding: 4px 12px;
  font-size: 12px;
  border: 1px solid #0072bb;
  border-radius: 3px;
  display: block;
}
body .pagination a {
  background-color: #f7f7f7;
  border: 1px solid #dddddd;
  margin-right: 5px;
  padding: 4px 12px;
  font-size: 12px;
  color: #999999;
  border-radius: 3px;
}
body .pagination a:hover {
  background-color: #0072bb;
  color: #FFFFFF;
  border: 1px solid #0072bb;
}
body header {
  background: #00aae3;
  position: relative;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.0392156863);
}
body header .backgr-menu {
  background: #00aae3;
  width: 100%;
  margin: 0;
  right: 0;
  box-shadow: 0px 9px 8px -8px rgba(45, 45, 45, 0.2901960784);
}
body header .logo-cati {
  width: auto;
  margin: 6px auto;
  display: block;
  border-radius: 50%;
  max-height: 61px;
  font-size: 9px;
}
body .pos-top img {
  max-width: 100%;
  width: auto !important;
  height: auto;
}
body #main .main-content {
  margin-top: 15px;
}
body footer {
  border-top: solid 1px #b2b4b8;
  background: #e7eaeb;
  padding: 20px 0;
  font-size: 15px;
  line-height: 30px;
}
body footer .list-connect {
  margin-bottom: 25px;
}
body footer .list-connect .title-footer {
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  border-bottom: solid 1px #b2b4b8;
  padding-bottom: 11px;
  margin-bottom: 14px;
}
body footer .list-connect .connect-social {
  display: flex;
}
body footer .list-connect .connect-social a {
  display: inline-block;
  width: 32px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  color: #fff;
  border-radius: 4px;
  margin-right: 5px;
}
body footer .list-connect .connect-social a i {
  display: block;
  line-height: 32px;
}
body footer .list-connect .connect-social .facebook {
  background: #0a53be;
}
body footer .list-connect .connect-social .twitter {
  background: #0b97c4;
}
body footer .list-connect .connect-social .youtube {
  background: #cc0000;
}
body footer .list-connect .connect-social .instagram {
  background: #6f42c1;
}

/*popup*/
.full {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  width: 100%;
  z-index: 1111;
  display: none;
  top: 0;
  left: 0;
}

.wrapper-popup {
  width: 70%;
  height: auto;
  position: absolute;
  left: 0;
  right: 0;
  display: none;
  background: #fff;
  z-index: 1111111;
  top: 7%;
  margin-left: auto;
  margin-right: auto;
}

.wrapper-popup-2 {
  width: 730px;
  position: absolute;
  left: 22%;
  top: 7%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  display: none;
  z-index: 1111111;
}

@media only screen and (max-width: 900px) {
  .wrapper-popup-2 {
    width: 96%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 2%;
  }
}
.social-button {
  display: inline-grid;
  position: fixed;
  bottom: 15px;
  left: 45px;
  min-width: 45px;
  text-align: center;
  z-index: 9999;
}
@media (max-width: 767px) {
  .social-button {
    bottom: 22px;
    min-width: 45px;
    text-align: center;
    z-index: 9999;
    left: unset;
    right: 105px;
  }
}
.social-button span {
  display: none;
}
.social-button a {
  padding: 8px 0;
  cursor: pointer;
  position: relative;
}
@media (max-width: 767px) {
  .social-button a {
    margin-left: 10px;
  }
}
.social-button a span {
  border-radius: 2px;
  text-align: center;
  background: #11b2ec;
  padding: 9px;
  display: none;
  width: 180px;
  margin-left: 10px;
  position: absolute;
  color: #ffffff;
  z-index: 999;
  top: 9px;
  left: 40px;
  transition: all 0.2s ease-in-out 0s;
  animation: headerAnimation 0.7s 1;
}
.social-button i {
  width: 50px;
  height: 50px;
  background: #11b2ec;
  color: #fff;
  border-radius: 100%;
  font-size: 20px;
  text-align: center;
  line-height: 2.6;
  position: relative;
  z-index: 999;
  animation-iteration-count: infinite;
  animation-duration: 2s;
  animation-fill-mode: both;
  animation-name: tada;
}
.social-button .fa-phonea {
  background: url(/images/phone-icon.png?b2ed2e3a5ef94823bb0dc48aae88ad2a) no-repeat center;
}
.social-button .fa-facebooks {
  background: url(/images/messenger-icon.png?573b28b75addad593f4f21743e23a507) no-repeat center;
}
.social-button .fa-zalo {
  background: url(/images/zalo-icon-1.png?d9f01a82835bea563c84bc104d957892) no-repeat center;
}

.social-button-content {
  display: inline-grid;
}
@media (max-width: 767px) {
  .social-button-content {
    display: block;
  }
}

.call-icon:hover > span, .mes:hover > span, .zalo:hover > span {
  display: block;
}

.social-button a span {
  border-radius: 2px;
  text-align: center;
  background: #11b2ec;
  padding: 9px;
  display: none;
  width: 180px;
  margin-left: 10px;
  position: absolute;
  color: #ffffff;
  z-index: 999;
  top: 9px;
  left: 40px;
  transition: all 0.2s ease-in-out 0s;
  animation: headerAnimation 0.7s 1;
}

.social-button a span:before {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 10px 10px 0;
  border-color: transparent #11b2ec transparent transparent;
  position: absolute;
  left: -10px;
  top: 10px;
}

.menu-menufocal {
  margin-bottom: 25px;
}
.menu-menufocal .first_item {
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  border-bottom: solid 1px #b2b4b8;
  padding-bottom: 11px;
  margin-bottom: 14px;
}
.menu-menufocal .menu-focal {
  padding: 0;
}
.menu-menufocal .menu-focal li {
  list-style: none;
}
.menu-menufocal .menu-focal li a {
  font-size: 14px;
}

#main-breadcrumbs {
  background-color: #fff;
  padding: 12px 0 0 0;
}
#main-breadcrumbs ol li {
  float: left;
}
#main-breadcrumbs ol li i {
  margin: 0 5px 0 10px;
}

#cssmenu {
  font-weight: bold;
}
#cssmenu #megamenu {
  float: right;
  margin: 0;
  height: 75px;
}
#cssmenu #megamenu li {
  list-style: none;
}
#cssmenu > ul > li {
  float: left;
  line-height: 73px;
  position: relative;
}
#cssmenu > ul > li > a {
  color: #fff;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 12px;
  padding: 0;
}
#cssmenu > ul > li > a i {
  font-size: 19px;
}
#cssmenu > ul > li:hover > ul {
  left: 0px;
  top: 100%;
  opacity: 1;
  display: block;
  padding: 0;
  margin: 0;
  border: none;
}
#cssmenu > ul > li ul {
  position: absolute;
  left: -9999px;
  top: 70px;
  opacity: 0;
  transition: opacity 0.3s ease, top 0.25s ease;
  z-index: 1000;
}
#cssmenu > ul > li ul li {
  position: relative;
}
#cssmenu > ul > li ul li a {
  font-size: 13px;
  line-height: 18px;
  display: block;
  width: 230px;
  padding: 10px 20px !important;
  color: #ffffff;
  background: #f03e7d;
  transition: all 0.35s ease;
  text-transform: none;
}
#cssmenu > ul > li ul li a i {
  font-size: 4px;
  vertical-align: middle;
  margin-right: 10px;
}
#cssmenu > ul > li ul li:hover > a {
  background: #0072bb;
  color: #ffffff;
}
#cssmenu > ul > li ul li ul {
  opacity: 0;
}
#cssmenu > ul > li ul li:hover ul {
  left: 100%;
  opacity: 1;
  display: block;
  padding: 0;
  margin: 0;
  border: none;
  top: 0;
}
#cssmenu > ul > li {
  padding: 5px 10px 0px;
}
@media (min-width: 1200px) {
  #cssmenu > ul > li {
    padding: 0px 10px;
  }
}
#cssmenu > ul > li:hover {
  background-color: #f03e7d;
}
#cssmenu > ul > li:hover > a {
  color: #fff;
}
#cssmenu > ul > li:first-child > a {
  border-bottom: none !important;
}
